body{
    background-image: conic-gradient(red, yellow, green, blue, black);
}

body{
    background-size:cover ;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    background-color: #59f013;
}

#status, #if_object_foun_or_not{
font-size: 18px;
}

.copy_footer{
    bottom: 0px;
    text-align: center;
    color: aliceblue;
    background-color: green;
    position: fixed;
    width: 100%;
    line-height: 3;
}

canvas{
    border: 2px solid whitesmoke;
margin-top: 100px;
border-radius: 10px;
box-shadow: 5px 5px 5px white;

}

